<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Halcyon" version="2.3.1" targetFramework="net46" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.1" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="SqlStreamStore" version="0.7.1" targetFramework="net46" />
  <package id="Tavis.UriTemplates" version="1.1.0" targetFramework="net46" />
</packages>